<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chat Window</title>
        <link rel="stylesheet" href="/public/css/chat.css" />
    </head>
    <body>
        <div class="chat-container">
            <div class="chat-title">
                <div class="profile-info">
                    <img src="chatProfileImage.jpeg" alt="프로필 사진" />
                    <span class="profile-name">홍길동</span>
                </div>
                <div class="exit-icon">나가기</div>
            </div>
            <div class="chat-box" id="chat-box"></div>
            <input type="text" id="message-input" placeholder="메세지를 입력하세요." />
            <button onclick="sendMessage()">전송</button>
        </div>
        <script src="/public/js/chat.js"></script>
        <script>
            const socket = io();
            // const form = document.querySelector('#chat_form');
            // const scForm = document.querySelector('#search');
            // const msg = document.querySelector('.msg');
            // const main = document.querySelector('.main');
            // const body = document.querySelector('#body');
            // const chatBtn = document.querySelector('#chatBtn');
            let userId;
            let username;

            // (async function () {
            //     try {
            //         // 접속 중인 멤버 정보 저장
            //         const res = await axios({
            //             method: 'GET',
            //             url: '/api/market/find',
            //             headers: {
            //                 Authorization: `Bearer ${localStorage.getItem('token')}`,
            //             },
            //         });
            //         userId = res.data.result.id;
            //         username = res.data.result.username;

            //         console.log(userId, username);
            //     } catch (error) {}
            // })();
        </script>
    </body>
</html>
