<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/public/css/market-detail.css" />
        <link rel="stylesheet" href="/public/css/font.css" />
    </head>
    <body>
        <header>
            <div class="headbtn">
                <div class="login">로그인</div>
                <div class="sign">회원가입</div>
                <div class="mypage">마이페이지</div>
            </div>
            <div class="headertitle">
                <img src="/public/img/꽃.png" alt="꽃" />
                벼룩 시장
            </div>
            <div class="banner">
                <div class="bannerleft">
                    <span onclick="window.location.href = '/';">채용정보</span>
                    <span onclick="window.location.href = '/market/market';">벼룩시장</span>
                </div>
                <div class="bannerright">
                    <span onclick="window.location.href = '/community/community';">커뮤니티</span>
                    <span>My 구인구직</span>
                </div>
            </div>
        </header>
        <div class="sale">
            <table class="saletable">
                <caption style="margin: 20px">
                    <span class="saletitle">[인테리어- 팝니다] 쿠션의자</span>
                </caption>
                <thead>
                    <th>등록자</th>
                    <th id="regist">햇빛공간 [개인]</th>
                    <th>전화번호</th>
                    <th id="phonenum">010-9342-2101</th>
                </thead>
                <tbody>
                    <tr>
                        <td>메 일</td>
                        <td id="saleemail">aaaa@naver.com</td>
                        <td>홈페이지</td>
                        <td id="salepage">http://www.aaa.com</td>
                    </tr>
                    <tr>
                        <td>가격</td>
                        <td id="saleprice">상담</td>
                        <td>제품상태</td>
                        <td id="salestate">신품</td>
                    </tr>
                    <tr>
                        <td>거래지역</td>
                        <td colspan="3" id="saleadress">경기</td>
                    </tr>
                </tbody>
            </table>
            <textarea cols="120" rows="10" id="salecontent">내용</textarea>
        </div>
        <div class="salenotice">
            <p>
                ※ 물품 거래시에는 반드시 판매자 정보를 따로 보관하세요 판매자가 본 글을 삭제한 후에는 확인하실 수
                없습니다.<br />
                본 정보(글 번호 <span id="wrnum">11901</span>)는 <span id="regist">햇빛공간</span>님이 등록하신 것으로
                고가네 유아포럼에서는 기재된 내용에 대한 오류 및 이용자가 이를 신뢰하여 취한 조치에 대해 <br />일체의
                책임을 지지 않습니다. 또한 본 정보는 고가네 유아포럼의 동의없이 재배포할 수 없습니다. <br />
                <span style="color: red">본 정보가 허위 및 불량광고일 경우 이용문의에 글을 남겨주세요.</span>
            </p>
        </div>
        <div class="btnCollect">
            <div>
                <button type="button">이전글</button>
                <button type="button">다음글</button>
            </div>
            <div>
                <button type="button">수정</button>
                <button type="button">삭제</button>
                <button type="button" onclick="window.location.href = '/market';">목록</button>
            </div>
        </div>
        <div class="chat">
            <span>판매자와 직접 대화를 할수 있어요!</span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="blueviolet"
                class="bi bi-chat-dots-fill"
                viewBox="0 0 16 16"
            >
                <path
                    d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
                />
            </svg>
        </div>
        <%- include('../sidebar.ejs') %> <%- include('../footer.ejs') %>
    </body>
</html>
