<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/public/css/market-writing.css" />
        <link rel="stylesheet" href="/public/css/font.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <header>
            <div class="headbtn">
                <div class="login" onclick="window.location.href = '/user/login';">로그인</div>
                <div class="sign" onclick="window.location.href = '/user/signup';">회원가입</div>
                <div class="mypage">마이페이지</div>
            </div>
            <div class="headertitle">
                <img src="/public/img/꽃.png" alt="꽃" />
                벼룩 시장
            </div>
            <div class="banner">
                <div class="bannerleft">
                    <span onclick="window.location.href = '/employ/board';">채용정보</span>
                    <span onclick="window.location.href = '/market/board';">벼룩시장</span>
                </div>
                <div class="bannerright">
                    <span onclick="window.location.href = '/community/board';">커뮤니티</span>
                    <span onclick="window.location.href = '/resume/mypage';">My 구인구직</span>
                </div>
            </div>
        </header>
        <div style="text-align: right">
            시장 성격과 맞지않는 글 및 시설매매 관련글은 경고없이 바로 삭제되며, 자동 차단 됩니다.
        </div>
        <div class="notiffont"><span style="color: red">*</span>&nbsp;표시는 필수항목입니다.</div>
        <table class="marktable">
            <thead>
                <th><span style="color: red">*</span>&nbsp;이름</th>
                <th><input type="text" id="seller_id" /></th>
                <th><span style="color: red">*</span>&nbsp;휴대폰 번호</th>
                <th><input type="text" id="phoneNum" /></th>
            </thead>
            <tbody>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;제품상태</td>
                    <td>
                        <select style="width: 100px" id="pd_status">
                            <option>선택</option>
                        </select>
                    </td>
                    <td><span style="color: red">*</span>&nbsp;분류</td>
                    <td>
                        <select style="width: 100px" id="category">
                            <option>선택</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;제목</td>
                    <td colspan="3"><input type="text" id="pd_title" style="width: 90%" /></td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;구분</td>
                    <td>
                        <select style="width: 100px" id="pd_division">
                            <option>선택</option>
                        </select>
                    </td>
                    <td><span style="color: red">*</span>&nbsp;가격</td>
                    <td><input type="text" id="pd_price" /></td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td colspan="3"><input type="email" id="pd_mail" style="width: 80%" /></td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;거래지역</td>
                    <td colspan="3">
                        <div class="adress">
                            <span style="color: red">*</span>&nbsp;&nbsp;
                            <select class="waselect1">
                                <option>지역 선택</option>
                                <option>서울</option>
                                <option>경기</option>
                                <option>인천</option>
                                <option>부산</option>
                                <option>대전</option>
                                <option>대구</option>
                                <option>광주</option>
                                <option>울산</option>
                                <option>세종시</option>
                                <option>강원</option>
                                <option>경남</option>
                                <option>경북</option>
                                <option>전남</option>
                                <option>전북</option>
                                <option>충남</option>
                                <option>충북</option>
                                <option>제주</option>
                                <option>해외</option></select
                            ><span class="waselect2box" style="display: none"
                                >&nbsp;&nbsp;<span style="color: red">*</span>&nbsp;&nbsp;<select
                                    class="waselect2"
                                ></select
                            ></span>

                            <div>
                                &nbsp;&nbsp;<span style="color: red">*</span>&nbsp;&nbsp;
                                <input type="text" placeholder="상세 주소" class="detailadress" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;상세설명</td>
                    <td colspan="3"><textarea cols="100" rows="7"></textarea></td>
                </tr>
                <tr>
                    <td>사진등록</td>
                    <td colspan="3">
                        <div>
                            <div>사진1 나중에</div>
                            <div>사진2 나중에</div>
                            <div>사진3 나중에</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btnCollection">
            <div><button type="button" onclick="window.location.href = '/market/market';">목록</button></div>
            <div>
                <button type="button">수정</button>
                <button type="button">삭제</button>
                <button type="button" onclick="mWriting()">글쓰기</button>
            </div>
        </div>
        <%- include('../sidebar.ejs') %> <%- include('../footer.ejs') %>
        <script src="/public/js/market-writing.js"></script>
    </body>
</html>
