<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>벼룩시장</title>
        <link rel="stylesheet" href="/public/css/market.css" />
        <link rel="stylesheet" href="/public/css/font.css" />
        <link rel="icon" href="/public/img/icon/logoico.ico" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <header>
            <div class="headbtn">
                <!-- <div class="login" onclick="window.location.href = '/user/login';">로그인</div>
                <div class="sign" onclick="window.location.href = '/user/signup';">회원가입</div>
                <div class="mypage">마이페이지</div> -->
            </div>
            <div class="headertitle">
                <img src="/public/img/꽃.png" alt="꽃" />
                벼룩 시장
            </div>
            <div class="banner">
                <div class="bannerleft">
                    <span onclick="window.location.href = '/employ/board';">채용정보</span>
                    <span onclick="window.location.href = '/';">홈</span>
                </div>
                <div class="bannerright">
                    <span onclick="window.location.href = '/community/board';">커뮤니티</span>
                    <span onclick="window.location.href = '/resume/mypage';">My 구인구직</span>
                </div>
            </div>
        </header>
        <div class="warnotice">
            <ul>
                <li>모든 거래시 피해가 발생하지 않도록 신중하게 판단해서 거래하시길 바랍니다.</li>
                <li>
                    홈페이지가 개편중 입니다. 우측상단의 ‘회원가입’ 버튼을 클릭하여 회원가입을 완료하시면 글 등록이
                    가능합니다.
                </li>
            </ul>
        </div>

        <div class="wrtype">
            <div class="recentmod">최근 수정일순</div>
            |
            <div class="finalreg">최종 등록일순</div>
            |
            <div class="lastday">마감일순</div>
        </div>
        <table class="wrtable">
            <thead>
                <th>지역</th>
                <th>구분</th>
                <th>분류</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>상태</th>
                <th>등록일</th>
            </thead>
            <tbody></tbody>
        </table>
        <!-- <div style="text-align: center">페이지네이션</div> -->
        <div class="markwrBtn">
            <button type="button" onclick="window.location.href = '/market/write';">글쓰기</button>
        </div>

        <%- include('../sidebar.ejs') %> <%- include('../footer.ejs') %>
        <script src="/public/js/market_main.js"></script>
    </body>
</html>
