<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>커뮤니티 상세페이지</title>
        <link rel="stylesheet" href="/public/css/community-detail.css" />
        <link rel="stylesheet" href="/public/css/font.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <header>
            <div class="headbtn">
                <div class="login" onclick="window.location.href = '/user/login';">로그인</div>
                <div class="sign" onclick="window.location.href = '/user/signup';">회원가입</div>
                <div class="mypage">마이페이지</div>
            </div>
            <div class="headertitle">
                <img src="/public/img/꽃.png" alt="꽃" />
                커뮤니티
            </div>
            <div class="banner">
                <div class="bannerleft">
                    <span onclick="window.location.href = '/employ/board';">채용정보</span>
                    <span onclick="window.location.href = '/market/board';">벼룩시장</span>
                </div>
                <div class="bannerright">
                    <span onclick="window.location.href = '/community/board';">커뮤니티</span>
                    <span onclick="window.location.href = '/resume/mypage';">My 구인구직</span>
                </div>
            </div>
        </header>
        <div class="comcontent">
            <div class="titleBox">
                <span id="group">[어린이집]</span>&nbsp;<span id="title"
                    >어린이집 보조교사 경력증명서 발급 가능한가요?</span
                >
            </div>
            <div class="nameBox">
                <div>글쓴이 :&nbsp;<span id="id">홍길동</span>&nbsp;(<span id="email">aaa1234@naver.com</span>)</div>
                <div>등록일 : <span id="date">2023-01-16</span></div>
            </div>
            <div class="contentBox">
                <textarea id="content" cols="120" rows="10">
어린이집 4시간 반 보조교사도 경력증명서 뗄 수 있는건가요?</textarea
                >
            </div>
        </div>
        <div class="commentBox">
            <div>댓글 1</div>
            <div>댓글 2</div>
        </div>
        <div class="btnCollection">
            <div>
                <button type="button">이전글</button>
                <button type="button">다음글</button>
            </div>
            <div>
                <button type="button">수정</button>
                <button type="button">삭제</button>
                <button type="button">등록</button>
                <button type="button" onclick="window.location.href = '/community';">목록</button>
            </div>
        </div>
        <%- include('../sidebar.ejs') %> <%- include('../footer.ejs') %>
        <script src="/public/js/community_detail.js"></script>
    </body>
</html>
