<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>커뮤니티 상세페이지</title>
        <link rel="icon" href="/public/img/icon/logoico.ico" />
        <link rel="stylesheet" href="/public/css/community-detail.css" />
        <link rel="stylesheet" href="/public/css/font.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <header>
            <div class="headbtn">
                <!-- <div class="login" onclick="window.location.href = '/user/login';">로그인</div>
                <div class="sign" onclick="window.location.href = '/user/signup';">회원가입</div>
                <div class="mypage">마이페이지</div> -->
            </div>
            <div class="headertitle">
                <img src="/public/img/꽃.png" alt="꽃" />
                커뮤니티
            </div>
            <div class="banner">
                <div class="bannerleft">
                    <span onclick="window.location.href = '/employ/board';">채용정보</span>
                    <span onclick="window.location.href = '/market/board';">벼룩시장</span>
                </div>
                <div class="bannerright">
                    <span onclick="window.location.href = '/';">홈</span>
                    <span onclick="window.location.href = '/resume/mypage';">My 구인구직</span>
                </div>
            </div>
        </header>
        <div class="comcontent">
            <div class="titleBox"><span id="group"></span>&nbsp;<span id="title"></span></div>
            <div class="nameBox">
                <div>글쓴이 :&nbsp;<span id="id"></span>&nbsp;(<span id="email"></span>)</div>
                <div>등록일 : <span id="date"></span></div>
            </div>
            <div class="contentBox">
                <textarea id="content" cols="120" rows="10"></textarea>
            </div>
        </div>
        <!-- <div class="commentBox">
            <div>댓글 1</div>
            <div>댓글 2</div>
        </div> -->
        <div class="btnCollection">
            <div>
                <button type="button" onclick="backPage()">이전글</button>
                <button type="button" onclick="nextPage()">다음글</button>
            </div>
            <div>
                <!-- <button type="button">수정</button>
                <button type="button">삭제</button> -->
                <button type="button">등록</button>
                <button type="button" onclick="window.location.href = '/community/board';">목록</button>
            </div>
        </div>
        <%- include('../sidebar.ejs') %> <%- include('../footer.ejs') %>
        <script src="/public/js/community_detail.js"></script>
        <script>
            function backPage() {
                const [_, url] = document.location.href.split('board/'); // url은 문자열로 추출된다.
                const currentPage = parseInt(url); // 현재 페이지 번호 추출
                if (!isNaN(currentPage) && currentPage > 1) {
                    // 현재 페이지가 숫자이고 1보다 큰지 확인
                    const previousPage = currentPage - 1;
                    window.location.href = `/community/board/${previousPage}`;
                } else {
                    alert('페이지가 존재하지 않습니다.');
                }
            }
            function nextPage() {
                const [_, url] = document.location.href.split('board/');
                const currentPage = parseInt(url);
                const nextPage = currentPage + 1;
                window.location.href = `/community/board/${nextPage}`;
            }
        </script>
    </body>
</html>
