<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>커뮤니티 글쓰는 페이지</title>
        <link rel="stylesheet" href="../public/css/community-writing.css" />
    </head>
    <body>
        <header>
            <div class="headbtn">
                <div class="login">로그인</div>
                <div class="sign">회원가입</div>
                <div class="mypage">마이페이지</div>
            </div>
            <div class="headertitle">
                <img src="../public/img/꽃.png" alt="꽃" />
                글 등록
            </div>
            <div class="banner">
                <div class="bannerleft">
                    <span onclick="window.location.href = '/';">채용정보</span>
                    <span onclick="window.location.href = '/market';">벼룩시장</span>
                </div>
                <div class="bannerright">
                    <span onclick="window.location.href = '/community';">커뮤니티</span>
                    <span>My 구인구직</span>
                </div>
            </div>
        </header>
        <div style="text-align: right">
            본 게시판의 성격과 맞지 않는 글 및 광고 관련 글은 블라인드 처리 또는 삭제 됩니다.
        </div>
        <div class="notiffont"><span style="color: red">*</span>&nbsp;표시는 필수항목입니다.</div>
        <div class="comwrtablebox">
            <table class="comwrtable">
                <thead>
                    <th><span style="color: red">*</span>&nbsp;아이디</th>
                    <th><input type="text" id="id" style="width: 50%" /></th>
                </thead>
                <tbody>
                    <tr>
                        <td>E-mail</td>
                        <td><input type="email" id="email" style="width: 50%" /></td>
                    </tr>
                    <tr>
                        <td><span style="color: red">*</span>&nbsp;분류</td>
                        <td>
                            <select class="groupselecect" id="group">
                                <option>유치원</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color: red">*</span>&nbsp;글 제목</td>
                        <td><input type="text" id="id" style="width: 80%" id="title" /></td>
                    </tr>
                    <tr>
                        <td><span style="color: red">*</span>&nbsp;내용</td>
                        <td><textarea id="content" cols="80" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <td>파일첨부</td>
                        <td>나중에,,</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btnCollection">
            <div>
                <button type="button" onclick="window.location.href = '/community';">목록</button>
            </div>
            <div>
                <button type="button">수정</button>
                <button type="button">삭제</button>
                <button type="button">등록하기</button>
            </div>
        </div>
        <%- include('sidebar.ejs') %> <%- include('footer.ejs') %>
    </body>
</html>
