<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <style>
        footer {
            text-align: center;
            margin-bottom: 20px;
            padding-top: 40px;
        }
        .fsec {
            border-bottom: 0.1px solid gray;
        }
        .fcopy {
            margin-bottom: 30ox;
        }
    </style>
    <body>
        <footer>
            <div class="pcFooter">
                <div>
                    <div class="fLogo">상호 고가네</div>
                    <div>
                        <div>TEL - 02-832-1346</div>
                    </div>
                </div>
                <div>
                    <div class="fsec">
                        <span>대표 고재용</span> | <span>사업자등록 107-10-17612</span>
                        <div>주소 150-899 서울시 영등포구 영등포동 618-214 3F</div>
                    </div>
                    <div>
                        <span style="margin-right: 100px">통신 판매업 신고 영등포구청 제 2002-00427호</span>
                        <span>직업정보 제공사업 J1204220100019</span>
                    </div>
                    <div class="fCopy">&#169;Copyrightⓒ 2001 www.gogane.com All rights reserved</div>
                </div>
            </div>
        </footer>
    </body>
</html>
