<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <style>
        footer {
            padding-top: 20px;
            margin-bottom: 20px;
            padding-bottom: 1px;
            background-color: #e9ecef;
        }
        .ffirstline {
            display: flex;
            margin-bottom: 20px;
            padding-top: 40px;
        }
        .ffirstline > div {
            margin-left: 30px;
        }
        .fCopy {
            margin-bottom: 30px;
            text-align: center;
        }
        .fLogo {
            margin-left: 20px;
            font-weight: bold;
            font-size: 18x;
        }
        .fadress {
            margin-left: 30px;
            margin-bottom: 20px;
        }
        .ftel {
            margin-left: 100px;
        }
    </style>
    <body>
        <footer>
            <div class="pcFooter">
                <div class="ffirstline">
                    <div class="fLogo">상호 고가네</div>
                    <div>대표 고재용</div>
                    <div>사업자등록 107-10-17612</div>
                    <div class="ftel">TEL - 02-832-1346</div>
                </div>
                <div>
                    <div class="fsec">
                        <div class="fadress">
                            <span style="font-weight: bold">주소</span> 150-899 서울시 영등포구 영등포동 618-214 3F
                        </div>
                    </div>
                    <div style="margin-bottom: 30px">
                        <span style="margin-left: 30px">통신 판매업 신고 영등포구청 제 2002-00427호</span>
                        <span style="margin-left: 50px">직업정보 제공사업 J1204220100019</span>
                    </div>
                    <div class="fCopy">&#169;Copyrightⓒ 2001 www.gogane.com All rights reserved</div>
                </div>
            </div>
        </footer>
    </body>
</html>
