<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Intro Screen</title>
        <link rel="stylesheet" href="/public/css/intro.css" />
        <link rel="stylesheet" href="/public/css/font.css" />
        <link rel="icon" href="/public/img/icon/logoico.ico" />
    </head>

    <body>
        <div class="intro-container">
            <a href="/">
                <img src="/public/img/intro.jpg" alt="introImage" />
                <span style="font-weight: bold">고가네 유아포럼에 오신 것을 환영합니다!</span>
            </a>
        </div>
    </body>
</html>
