<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Intro Screen</title>
        <link rel="stylesheet" href="intro.css" />
    </head>
    <body>
        <div class="intro-container">
            <img src="intro.jpg" alt="introImage" />
            <button id="enterButton">고가네 유아포럼에 오신 것을 환영합니다.</button>
        </div>

        <script src="script.js"></script>
    </body>
</html>
