<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Intro Screen</title>
        <link rel="stylesheet" href="../public/css/intro.css" />
    </head>
    <body>
        <div class="intro-container">
            <img src="../public/img/children2.png" alt="introImage" />
            <a href="/">고가네 유아포럼에 오신 것을 환영합니다.</a>
        </div>

        <!-- <script src="script.js"></script> -->
    </body>
</html>
