<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원정보 수정</title>
        <link rel="stylesheet" href="/public/css/mypage-revise.css" />
        <link rel="stylesheet" href="/public/css/font.css" />
    </head>
    <body>
        <header>
            <div class="headbtn">
                <div class="login">로그인</div>
                <div class="sign">회원가입</div>
                <div class="mypage">마이페이지</div>
            </div>
            <div class="headertitle">
                <img src="/public/img/꽃.png" alt="꽃" />
                회원정보 수정
            </div>
            <div class="banner">
                <div class="bannerleft">
                    <span>채용정보</span>
                    <span class="marketBtn" onclick="window.location.href = '/market/market';">벼룩시장</span>
                </div>
                <div class="bannerright">
                    <span onclick="window.location.href = '/community/community';">커뮤니티</span>
                    <span>My 구인구직</span>
                </div>
            </div>
        </header>
        <div class="notiffont"><span style="color: red">*</span>&nbsp;표시는 필수항목입니다.</div>
        <div class="loginrevisetable">
            <table class="loginresume">
                <caption>
                    로그인정보
                </caption>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;아이디</td>
                    <td id="id"><input type="text" style="width: 40%" /></td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;패스워드</td>
                    <td id="pw"><input type="password" style="width: 40%" /></td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;패스워드 확인</td>
                    <td id="pw2"><input type="password" style="width: 40%" /></td>
                </tr>
            </table>
            <table class="mynamerevise">
                <caption>
                    개인정보
                </caption>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;이름</td>
                    <td id="name">
                        <input type="text" style="width: 30%" />&nbsp;&nbsp;<span style="color: red">[변경 불가]</span>
                    </td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;닉네임</td>
                    <td id="nickname">
                        <input type="text" style="width: 30%" />&nbsp;&nbsp;<span style="color: red">[변경 불가]</span>
                    </td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;E-mail</td>
                    <td id="email"><input type="email" style="width: 50%" /></td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td id="tel"><input type="tel" style="width: 50%" /></td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;주소</td>
                    <td>
                        <div class="adress"><input type="text" /><button type="button">우편번호검색</button></div>
                        <div>
                            <input type="text" value="나중에" />
                        </div>
                        <div>
                            <input type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;휴대폰 번호</td>
                    <td id="phone"><input type="tel" style="width: 20%" /></td>
                </tr>
            </table>
            <table class="etcrevise">
                <caption>
                    기타정보
                </caption>
                <tr>
                    <td>SMS 수신여부</td>
                    <td><input type="checkbox" id="sms" /> 핸드폰 문자메세지를 받겠습니다.</td>
                </tr>
                <tr>
                    <td><span style="color: red">*</span>&nbsp;자동등록방지</td>
                    <td id="autoregist"><input type="text" /></td>
                </tr>
            </table>
        </div>
        <div class="btnBox">
            <button type="button" class="inputBtn">정보 입력완료</button>
            <button type="button" class="delBtn">탈퇴하기</button>
        </div>
        <%- include('sidebar.ejs') %> <%- include('footer.ejs') %>
    </body>
</html>
