.calendarhead {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 40px;
    margin-top: 30px;
    border: 1px solid gray;
    background-color: blueviolet;
    line-height: 70px;
    color: white;
}
.calendarhead > .dateNum {
    margin-left: 120px;
    cursor: pointer;
}
.calendarhead > .headcareer {
    margin-right: 120px;
    cursor: pointer;
}
table {
    width: 300px;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 150px;
}
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #edd6ef;
}
caption {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.btn-container {
    margin-bottom: 20px;
}
.btn-container > #nextMonthBtn {
    margin-left: 50px;
}
.clicked,
.added {
    margin-bottom: 20px;
}
.clickedDate,
.addedDate,
.minusDate {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    border: 1px solid black;
    padding: 8px;
}
.addedBtn,
.minusBtn,
.resetBtn {
    margin-left: 20px;
    margin-right: 20px;
}

.hidden {
    display: none;
}
.datecal {
    margin-bottom: 50px;
    text-align: center;
}
.careercal {
    width: 500px;
    margin-left: 50px;
}
.inputdate {
    border: 0.1px solid gray;
    margin-bottom: 50px;
    text-align: center;
}
.retcareerbtn {
    text-align: center;
    margin-bottom: 50px;
}
.rescareer {
    text-align: center;
    margin-bottom: 50px;
    border: 0.1px solid gray;
}
.rescareer > input {
    text-align: center;
    color: red;
}
