body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid #f0e8ff;
}
.chat-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0e8ff; 
    border-bottom: 1px solid #ccc;
}

.profile-info {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.profile-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 5px; 
}

.profile-name {
    font-size: 14px;
}

.exit-icon {
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%; 
    padding: 3px; 
    background-color: #ccc;
}

.chat-title input[type='text'] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

input[type='text'] {
    width: calc(100% - 70px);
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
}
