body {
    padding: 0 200px;
}
/* 헤더 */
header {
    padding-bottom: 50px;
}
.headbtn {
    position: absolute;
    right: 200px;
    display: flex;
}
.headbtn > div {
    cursor: pointer;
}
.sign {
    margin: 0 20px;
}
.headertitle {
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
    font-size: 25px;
}
.headertitle > img {
    width: 20px;
    height: 20px;
}
.banner {
    background-color: blueviolet;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}
.bannerleft > span {
    margin-left: 30px;
    cursor: pointer;
}
.bannerright > span {
    margin-right: 30px;
    cursor: pointer;
}
/* 헤더 */
.notiffont {
    margin-top: 20px;
    text-align: right;
    margin-bottom: 20px;
}
.comwrtable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin-bottom: 20px;
}
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.groupselect {
    width: 100px;
    text-align: center;
}
.btnCollection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.btnCollection div button {
    border: 1px solid #c08fff;
    background: pink;
    color: #fff;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
select {
    width: 100px;
    padding: 0.5em 0.5em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('/public/img/icon/arrow.jpeg') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: gray;
    margin-top: -5px;
}
select::-ms-expand {
    display: none;
}
