@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    padding: 0 200px;
    font-family: 'NanumSquareRound';
}
/* 헤더 */
header {
    padding-bottom: 50px;
}
.headbtn {
    position: absolute;
    right: 200px;
    display: flex;
}
.headbtn > a {
    cursor: pointer;
    color: black;
    /* background: #f0d264; */
    /* text-decoration: none; */
}

.sign {
    margin: 0 20px;
}
.headertitle {
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
    font-size: 25px;
}
.headertitle > img {
    width: 20px;
    height: 20px;
}
.banner {
    background-color: blueviolet;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}
.bannerleft > span {
    margin-left: 30px;
    cursor: pointer;
}
.bannerright > span {
    margin-right: 30px;
    cursor: pointer;
}
/* 검색하기 */
.selectarea {
    margin-bottom: 50px;
}
.selectbox {
    background-color: #edd6ef;
    height: 150px;
    margin-bottom: 50px;
}
.workarea {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wafont {
    margin-left: 20px;
}
.waselect1 {
    margin-left: 50px;
}
.waselect2 {
    margin-left: 20px;
}
.careerselect {
    display: flex;
    padding-bottom: 20px;
}
.cafont {
    margin-left: 20px;
    margin-right: 74px;
}
.checkbox-label {
    cursor: pointer;
}
.recfield {
    display: flex;
}
.recfont {
    margin-left: 20px;
}
.recselect {
    margin-left: 50px;
}
.selectedbox {
    /* background-color: wheat; */
    border-bottom: 2px solid gray;
    margin-bottom: 50px;
}
.sbfont {
    margin-left: 5px;
}
.selectedresult {
    display: flex;
}
.selectedresult > div {
    margin-left: 5px;
}
.selectbtn {
    text-align: center;
}
.searchbtn {
    margin-right: 20px;
    border: 1px solid purple;
    background: #c08fff;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.resetbtn {
    border: 1px solid #c08fff;
    background: pink;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
/* 공고 */
.writing {
    margin-bottom: 50px;
}
.wrtop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.wrtype {
    font-size: 14px;
    display: flex;
}
.recentmod {
    padding: 0 5px;
}
.finalreg {
    padding: 0 5px;
}
.lastday {
    padding: 0 5px;
}
.wrtable {
    width: 100%;
    margin-bottom: 50px;
}
.wrtable > thead {
    background-color: #edd6ef;
}
.wrtable tbody td:nth-child(3) {
    cursor: pointer;
}
.wrtable tbody td:nth-child(3):hover {
    background-color: lightgray;
    color: white;
}
tr > td {
    text-align: center;
}
tr {
    height: 50px;
}
.writebtn {
    position: absolute;
    right: 240px;
    cursor: pointer;
    border: 1px solid #c08fff;
    background: pink;
    color: #fff;
    width: 75px;
    height: 30px;
    border-radius: 5px;
}
.wrbtn {
    margin-bottom: 50px;
}
.pagenation {
    margin-bottom: 250px;
}
.title-link {
    font-weight: bold; /* 글씨를 굵게 만듭니다. */
    cursor: pointer; /* 마우스를 올렸을 때 포인터로 바뀌게 만듭니다. */
    color: black; /* 링크의 색깔을 검은색으로 바꿉니다. */
    text-decoration: none; /* 밑줄을 없앱니다. */
}
.title-link:hover {
    color: black; /* 마우스를 올렸을 때 링크의 색깔이 변하지 않도록 합니다. */
}
.title-td {
    cursor: pointer;
}
