body {
    padding: 0 200px;
}
/* 헤더 */
header {
    padding-bottom: 50px;
}
.headbtn {
    position: absolute;
    right: 200px;
    display: flex;
}
.headbtn > div {
    cursor: pointer;
}
.sign {
    margin: 0 20px;
}
.employtitle {
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
    font-size: 30px;
}
.employtitle > img {
    width: 40px;
    height: 40px;
}
.emtable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin-bottom: 20px;
}
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #edd6ef;
}
.fivebtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
textarea {
    font-size: 16px;
}
.prebtn,
.revisebtn,
.listbtn {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid purple;
    background: #c08fff;
    color: #fff;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.nextbtn,
.delbtn {
    border: 1px solid #c08fff;
    background: pink;
    color: #fff;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
