@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);
* {
    font-family: 'NanumSquareRound';
}
input {
    font-family: 'NanumSquareRound';
}
button {
    font-family: 'NanumSquareRound';
}
select {
    background-size: 20px 20px;
}
