body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.intro-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f0e8ff;
}
