body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0e8ff;
}

.intro-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
span {
    background-color: #f0e8ff;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}
/* a {
    text-decoration: none;
} */

span:hover {
    /* background-color: #f0e8ff; */
    color: plum;
    /* text-decoration: color(plum); */
}
