body {
    padding: 0 200px;
}
/* 헤더 */
header {
    padding-bottom: 50px;
}
.headbtn {
    position: absolute;
    right: 200px;
    display: flex;
}
.headbtn > div {
    cursor: pointer;
}
.sign {
    margin: 0 20px;
}
.headertitle {
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
    font-size: 25px;
}
.headertitle > img {
    width: 20px;
    height: 20px;
}
.banner {
    background-color: blueviolet;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}
.bannerleft > span {
    margin-left: 30px;
    cursor: pointer;
}
.bannerright > span {
    margin-right: 30px;
    cursor: pointer;
}
/* 헤더 */
li {
    margin-bottom: 20px;
}
.warnotice {
    border-radius: 10px;
    border: 1px solid #edd6ef;
    margin-bottom: 30px;
}
.wrtype {
    display: flex;
    justify-content: right;
    margin-bottom: 50px;
}
.wrtype > div {
    margin: 0 10px;
}
.wrtable {
    width: 100%;
    margin-bottom: 50px;
}
.wrtable > thead {
    background-color: #edd6ef;
}
.wrtable tbody td:nth-child(4) {
    cursor: pointer;
}
.wrtable tbody td:nth-child(4):hover {
    background-color: lightgray;
    color: white;
}
tr > td {
    text-align: center;
}
tr {
    height: 50px;
}
.markwrBtn {
    text-align: right;
    margin-right: 20px;
    margin-bottom: 50px;
}
.markwrBtn > button {
    border: 1px solid #c08fff;
    background: pink;
    color: #fff;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
