<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>아이디/비밀번호 찾기</title>
        <link rel="stylesheet" href="/public/css/font.css" />
        <link rel="icon" href="/public/img/icon/logoico.ico" />
        <link rel="stylesheet" href="/public/css/findIDPW.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="find"><span> + 회원아이디/비밀번호 찾기</span></div>
        <div class="container_main">
            <div class="findheader">
                <div class="findidtitle" onclick="showIDconatainer()">아이디 찾기</div>
                <div class="findpwtitle" onclick="showPWcontainer()">비밀번호 찾기</div>
            </div>
            <div class="container_box" id="findIDcontainer">
                <div class="container">
                    <form id="forgotForm">
                        <div class="form-group">
                            <label
                                >아이디 찾기
                                <div class="email_check">회원가입시 등록하신 이메일주소를 입력해주세요.</div>
                                <input type="email" id="user_email_id" placeholder="Email" required />
                            </label>
                        </div>
                        <button class="idcheck" type="button" onclick="confirmFindId()">확인</button>
                        <p id="checkId"></p>
                    </form>
                </div>
            </div>
            <div class="container_box hidden" id="findPWcontainer">
                <div class="container">
                    <form id="password-reset-form" class="forgotForm">
                        <div class="form-group">
                            <label>
                                비밀번호 찾기
                                <div class="id_check">회원가입시 등록하신 아이디를 입력해주세요.</div>
                                <input type="text" id="user_id" placeholder="ID" required /><br />
                                <!-- <p class="id_message"></p> -->
                                <div class="email_check">회원가입시 등록하신 이메일을 입력해주세요.</div>
                                <br />

                                <input type="email" id="user_email_pw" placeholder="Email" required /><br /><br />
                                <button type="button" id="send_email_verification" onclick="sendEmail()">
                                    인증메일 전송
                                </button>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/public/js/find_IdPw.js"></script>
    </body>
</html>
