<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원가입</title>
        <link rel="stylesheet" href="/public/css/signup.css" />
        <link rel="stylesheet" href="/public/css/font.css" />
        <link rel="icon" href="/public/img/icon/logoico.ico" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <div class="container">
            <div class="main">
                <h1 class="member">회원가입</h1>
                <div class="main_top">
                    <p><span style="color: red">*</span> 표시는 필수항목입니다.</p>
                    <form name="signup-form">
                        <span style="color: red">*</span
                        ><label for="personal">
                            <input type="radio" id="personal" name="personal_type" value="0" />개인
                        </label>
                        <label for="company">
                            <input type="radio" id="company" name="personal_type" value="1" />기업 </label
                        ><br />

                        <span style="color: red">*</span>&nbsp;&nbsp;<input
                            type="text"
                            id="user_name"
                            placeholder="이름(실명)"
                            required
                        /><br />
                        <span style="color: red">*</span>&nbsp;&nbsp;<input
                            type="text"
                            id="user_nick"
                            pattern="[가-힣]{3,10}"
                            placeholder="닉네임(3~10자의 한글)"
                            oninput="maxLengthCheckNick(this)"
                            onblur="checkDuplicateNick()"
                            required
                        /><br />
                        <p id="nick_message" style="font-size: 14px"></p>
                        <span style="color: red">*</span>&nbsp;&nbsp;<input
                            type="text"
                            id="user_id"
                            pattern="^[a-zA-Z0-9]+${5,10}"
                            placeholder="아이디(5~10자의 영문, 숫자)"
                            oninput="maxLengthCheckId(this)"
                            onblur="checkDuplicateId()"
                            required
                        /><br />
                        <p id="id_message" style="font-size: 14px"></p>
                        <span style="color: red">*</span>&nbsp;&nbsp;<input
                            type="password"
                            id="user_pw"
                            pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,16}$"
                            placeholder="비밀번호(8~16자의 영문, 숫자, 특수기호)"
                            oninput="maxLengthCheckPW(this)"
                            required
                        /><br />
                        <span style="color: red">*</span>&nbsp;&nbsp;<input
                            type="password"
                            id="check_pw"
                            placeholder="비밀번호 확인"
                            oninput="checkPassword()"
                            required
                        /><br />
                        <p id="pw_message"></p>
                        <span style="color: red">*</span>&nbsp;&nbsp;<input
                            type="number"
                            id="user_phoneNum"
                            placeholder="휴대폰 번호"
                            oninput="maxLengthCheckNum(this)"
                            required
                        /><br />
                        <input type="url" id="user_website" placeholder="홈페이지" /><br />
                        <div class="button2">
                            <span style="color: red">*</span>&nbsp;&nbsp;<input
                                type="email"
                                id="user_email"
                                placeholder="이메일"
                                required
                            />
                            <button type="button" id="send_email_verification" onclick="sendEmail()">
                                인증메일 전송</button
                            ><br />
                        </div>
                        <div class="button2">
                            <span style="color: red">*</span>&nbsp;&nbsp;<input
                                type="number"
                                id="verification_code"
                                placeholder="인증번호 입력"
                                required
                            />
                            <button type="button" id="confirm_verification" onclick="confirmEmail()">확인</button>
                            <!-- <button type="button" id="resend_verification">재전송</button><br /> -->
                        </div>
                        <div class="button2">
                            <span style="color: red">*</span>&nbsp;&nbsp;<input
                                type="text"
                                id="sample4_postcode"
                                placeholder="우편번호"
                                required
                            />
                            <button type="button" onclick="address_DaumPostcode()" id="search_zipcode">
                                우편번호 검색
                            </button>
                        </div>
                        <input type="text" id="sample4_roadAddress" placeholder="도로명주소" />
                        <span id="guide" style="color: #999; display: none"></span><br />
                        <!-- <input type="text" id="sample4_jibunAddress" placeholder="지번주소" /> -->
                        <input type="text" id="sample4_detailAddress" placeholder="상세주소" /><br />
                    </form>
                </div>
                <button type="button" onclick="signupFunc()" id="complete_registration">회원가입</button>
            </div>
        </div>
        <script src="/public/js/signup.js"></script>
    </body>
</html>
