body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.password-reset-container {
    border: 3px solid #8a2fff;
    padding: 20px;
    border-radius: 10px;
    background-color: #edd6ef;
}
.line {
    border-bottom: 2px solid #8a2fff;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    color: white;
}

#info-message {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
input[type='text'],
input[type='password'] {
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.title-button {
    border: none;
    background: none;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #8a2fff;
}
button {
    font-weight: bold;
    border: 2px solid #c08fff;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #8a2fff;
    color: white;
}

.password-reset-container {
    text-align: center;
}
