<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>게시판 글 상세내용</h1>
        <a href="/employ/board"><-- 이전페이지</a>
        <a href="/user/info">내정보수정</a>
        <!-- 지원하기 버튼 눌러야함 -->

        <form name="post-form">
            <input type="text" id="title" placeholder="제목" /><br />
            <input type="text" id="place_name" placeholder="시설명" /><br />
            <input type="text" id="city_name" placeholder="구인지역(시,도)" /><br />
            <input type="text" id="town_name" placeholder="구인지역(시,군,구)" /><br />
            <input type="text" id="place_address" placeholder="상세주소" /><br />
            <input type="text" id="job" placeholder="구인직종" /><br />
            <input type="text" id="deadline" placeholder="마감일" /><br />
            <input type="text" id="homepage" placeholder="홈페이지" /><br />
            <input type="text" id="career" placeholder="경력" /><br />
            <!-- <input type="password" id="password" placeholder="비밀번호" /><br /> -->
            <input type="number" id="salary" placeholder="희망급여" /><br />
            <input type="hidden" id="index" /><br />
            <button type="button" onclick="updateFunc()">수정</button>
            <button type="button" onclick="deleteFunc()">삭제</button>
            <button type="button" onclick="confirmFunc()" hidden>확인</button>
            <ul></ul>
        </form>
        <script>
            const [_, url] = document.location.href.split('board/');
            console.log(url);
            //const ul = document.querySelector('ul');
            (async function () {
                const res = await axios({
                    method: 'GET',
                    url: `/api/employ/board/${url}`,

                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('token')}`,
                    },
                });
                console.log(res);
                const {
                    id,
                    title,
                    city_name,
                    town_name,
                    job,
                    place_name,
                    career,
                    password,
                    salary,
                    homepage,
                    deadline,
                    place_address,
                } = res.data.result;
                document.querySelector('#city_name').value = city_name;
                document.querySelector('#town_name').value = town_name;
                document.querySelector('#job').value = job;
                document.querySelector('#title').value = title;
                document.querySelector('#place_name').value = place_name;
                document.querySelector('#career').value = career;
                //document.querySelector('#password').value = password;
                document.querySelector('#salary').value = salary;
                document.querySelector('#index').value = id;
                document.querySelector('#homepage').value = homepage;
                document.querySelector('#deadline').value = deadline;
                document.querySelector('#place_address').value = place_address;
                console.log(res.data.result);

                // 인풋 요소 편집 막기.
                const inputs = document.querySelectorAll('input');
                inputs.forEach((input) => input.setAttribute('readonly', true));
            })();

            async function updateFunc() {
                //const form = document.forms['post-form'];
                try {
                    const res = await axios({
                        method: 'PATCH',
                        url: `/api/employ/board/${url}/update`,
                        data: {
                            address: document.querySelector('#address').value,
                            // place_address: document.querySelector('#place_address').value,
                            deadline: document.querySelector('#deadline').value,
                            // homepage: document.querySelector('#homepage').value,
                            job: document.querySelector('#job').value,
                            title: document.querySelector('#title').value,
                            place_name: document.querySelector('#place_name').value,
                            career: document.querySelector('#career').value,
                            // password: document.querySelector('#password').value,
                            salary: document.querySelector('#salary').value,
                            education: document.querySelector('#education').value,
                            content: document.querySelector('#content').value,
                            phoneNum: document.querySelector('#phoneNum').value,
                        },
                        headers: {
                            Authorization: `Bearer ${localStorage.getItem('token')}`,
                        },
                    });
                    console.log('res', res);

                    if (res.data.success) {
                        //document.location.reload();
                        // '수정' 버튼 숨기기
                        document.querySelector('button[onclick="updateFunc()"]').style.display = 'none';
                        // '확인' 버튼 보이기
                        document.querySelector('button[onclick="confirmFunc()"]').style.display = 'inline-block'; // 또는 'block';
                        // '삭제' 버튼 숨기기
                        document.querySelector('button[onclick="deleteFunc()"]').style.display = 'none';
                        const inputs = document.querySelectorAll('input');
                        inputs.forEach((input) => input.removeAttribute('readonly'));
                    }
                } catch (err) {
                    alert('작성자가 아니어서 수정이 불가합니다.');
                    console.log(err);
                }
            }
            async function confirmFunc() {
                try {
                    const res = await axios({
                        method: 'PATCH',
                        url: `/api/employ/board/${url}/update`,
                        data: {
                            address: document.querySelector('#address').value,
                            // place_address: document.querySelector('#place_address').value,
                            deadline: document.querySelector('#deadline').value,
                            // homepage: document.querySelector('#homepage').value,
                            job: document.querySelector('#job').value,
                            title: document.querySelector('#title').value,
                            place_name: document.querySelector('#place_name').value,
                            career: document.querySelector('#career').value,
                            // password: document.querySelector('#password').value,
                            salary: document.querySelector('#salary').value,
                            education: document.querySelector('#education').value,
                            content: document.querySelector('#content').value,
                            phoneNum: document.querySelector('#phoneNum').value,
                        },
                        headers: {
                            Authorization: `Bearer ${localStorage.getItem('token')}`,
                        },
                    });

                    if (res.data.success) {
                        alert('수정이 완료되었습니다.');

                        // 페이지 새로고침
                        document.location.reload();
                    } else {
                        alert('수정이 실패하였습니다. 다시 시도해 주세요.');
                    }
                } catch (err) {
                    alert('오류가 발생했습니다. 다시 시도해 주세요.');
                    console.log(err);
                }
            }

            async function deleteFunc() {
                try {
                    const res = await axios({
                        method: 'DELETE',
                        url: `/api/employ/board/${url}/delete`,
                        data: {
                            id: document.querySelector('#index').value,
                        },

                        headers: {
                            Authorization: `Bearer ${localStorage.getItem('token')}`,
                        },
                    });
                    if (res.data.success) {
                        if (!confirm('삭제하시겠습니까?')) {
                            return;
                        }
                        document.location.href = '/employ/board';
                    }
                } catch (err) {
                    alert('작성자가 아니어서 수정이 불가합니다.');
                    console.log(err);
                }
            }
        </script>
    </body>
</html>
