<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/public/css/employ-writing.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="emhead">교사 구인</div>
        <div class="notifhead">공지</div>
        <div class="notifbox">
            <div>
                <p>
                    유료 구인 서비스로 신청하실 경우에는
                    <span style="color: red">구인란 첫 화면 상단에 굵은 글씨</span>로 공고됩니다.
                </p>
            </div>
            <div class="notifbank">
                <div>서비스 가격 : 33000원(15일)</div>
                <div>입금계좌번호 : 국민은행 014-21-1827-531</div>
            </div>
            <div class="notifbank">
                <div>예금주 : 고재용</div>
                <div>문의전화 : 02-832-1346</div>
                <div></div>
            </div>
        </div>
        <form>
            <div class="notiffont"><span style="color: red">*</span>&nbsp;표시는 필수항목입니다.</div>
            <div class="writingbox">
                <div>
                    <span style="color: red">*</span>&nbsp;&nbsp;<input
                        type="text"
                        id="title"
                        placeholder="구인 글의 제목을 작성해주세요"
                        size="50"
                    />
                </div>
                <div>
                    <span style="color: red">*</span>&nbsp;&nbsp;<input
                        type="text"
                        id="place_name"
                        placeholder="시설명을 작성해주세요"
                    />
                </div>
                <div class="adress">
                    <span style="color: red">*</span>&nbsp;&nbsp;
                    <select class="waselect1">
                        <option disabled selected>지역 선택</option>
                        <option>서울</option>
                        <option>경기</option>
                        <option>인천</option>
                        <option>부산</option>
                        <option>대전</option>
                        <option>대구</option>
                        <option>광주</option>
                        <option>울산</option>
                        <option>세종시</option>
                        <option>강원</option>
                        <option>경남</option>
                        <option>경북</option>
                        <option>전남</option>
                        <option>전북</option>
                        <option>충남</option>
                        <option>충북</option>
                        <option>제주</option></select
                    ><span class="waselect2box" style="display: none"
                        >&nbsp;&nbsp;<span style="color: red">*</span>&nbsp;&nbsp;<select class="waselect2"></select
                    ></span>

                    <div>
                        &nbsp;&nbsp;<span style="color: red">*</span>&nbsp;&nbsp;
                        <input type="text" placeholder="상세 주소" class="detailadress" />
                    </div>
                </div>
                <div class="selectedbox">
                    <span style="color: red">*</span>&nbsp;&nbsp; 전체 주소 :
                    <input type="text" class="selectedresult" size="50" />
                </div>
                <div>
                    <span style="color: red">*</span>&nbsp;&nbsp;
                    <select class="recselect">
                        <option disabled selected>직종분류</option>
                        <option>원장</option>
                        <option>시설장</option>
                        <option>부원장</option>
                        <option>원감</option>
                        <option>부장교사</option>
                        <option>주임교사</option>
                        <option>정교사</option>
                        <option>보육교사</option>
                        <option>보조교사</option>
                        <option>종일반교사</option>
                        <option>반일반교사</option>
                        <option>에듀케어</option>
                        <option>실습교사</option>
                        <option>야간교사</option>
                        <option>미술교사</option>
                        <option>영어교사</option>
                        <option>영양·조리사</option>
                        <option>피아노교사</option>
                        <option>방과후교사</option>
                        <option>한글교사</option>
                        <option>수학교사</option>
                        <option>체육교사</option>
                        <option>특수교사</option>
                        <option>특기교사</option>
                        <option>보습교사</option>
                        <option>학습지교사</option>
                        <option>보육도우미</option>
                        <option>하모니</option>
                        <option>베이비시터</option>
                        <option>조리사</option>
                        <option>차량안전원</option>
                        <option>간호사</option>
                        <option>운전기사</option>
                        <option>사무직원</option>
                        <option>기타</option>
                        <option>중국어교사</option>
                    </select>
                </div>
                <div>
                    <span style="color: red">*</span>&nbsp;&nbsp; 경력 :
                    <label for="career1"> <input type="radio" id="career1" name="career" value="경력" />경력 </label>
                    <label for="career2"> <input type="radio" id="career2" name="career" value="신입" />신입 </label>
                    <label for="career3">
                        <input type="radio" id="career3" name="career" value="무관" />경력무관
                    </label>
                </div>

                <div>
                    <span style="color: red">*</span>&nbsp;&nbsp;<input
                        type="number"
                        id="phoneNum"
                        placeholder="휴대폰 번호를 입력해주세요"
                        size="40"
                        oninput="maxLengthCheck(this)"
                    />
                </div>
                <div>
                    <input
                        type="text"
                        id="salary"
                        onkeyup="addCommaToSalary(this)"
                        placeholder="희망 급여를 입력해주세요"
                    />
                    원&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color: red">*</span>&nbsp;&nbsp;<label
                        >마감일 : <input type="date" id="deadline" placeholder="마감일"
                    /></label>
                </div>
                <!-- <div><input type="text" placeholder="마감일" /></div> -->
                <div>
                    <span style="color: red">*</span>&nbsp;&nbsp;<select id="education">
                        <option disabled selected>학력</option>
                        <option>대학원졸이상</option>
                        <option>대학교졸이상</option>
                        <option>전문대학졸이상</option>
                        <option>고졸이상</option>
                        <option>무관</option>
                    </select>
                </div>
                <div><input type="text" id="homepage" placeholder="홈페이지 주소를 입력해주세요" size="40" /></div>
                <div><textarea placeholder="세부 내용" id="contents" cols="110" rows="10"></textarea></div>
                <div class="photopw">
                    <div>사진 (나중에)</div>
                    <!-- <div class="empw">
                        <span style="color: red">*</span>&nbsp;&nbsp;<input type="password" placeholder="비밀 번호" />
                    </div> -->
                </div>
            </div>
            <div class="perinf">
                <div class="perinffont">개인 정보 수집 이용 및 제공 동의서</div>
                <div class="perinfcontent">내용ㅇㅇㅇㅇㅇㅇㅇㅇ</div>
                <div class="perinffont">개인 정보 수집, 이용 및 제공동의서에 동의합니다 <input type="checkbox" /></div>
            </div>
            <div class="embtn">
                <button type="button" class="regbtn" onclick="register()">등록하기</button
                ><button type="button" class="cancbtn">입력 취소</button>
            </div>
        </form>
        <div class="warmsg">
            유아교육관련 교사구인 성격과 맞지 않는 글 및 시설 매매 관련글은 경고없이 바로 삭제됩니다.
        </div>
        <script src="/public/js/employ-writing.js"></script>
    </body>
</html>
