<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>채용 정보</title>
        <link rel="stylesheet" href="/public/css/employ_main.css" />
        <link rel="icon" href="/public/img/icon/logoico.ico" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <header>
            <div class="headbtn">
                <!-- <div class="login" onclick="window.location.href = '/user/login';">로그인</div> -->
                <!-- <div class="sign" onclick="window.location.href = '/user/signup';">회원가입</div> -->
                <!-- <div class="mypage">마이페이지</div> -->
            </div>
            <div class="headertitle">
                <img src="/public/img/꽃.png" alt="꽃" />
                채용 정보
            </div>
            <div class="banner">
                <div class="bannerleft">
                    <span class="homeBtn" onclick="window.location.href = '/';">홈</span>
                    <span class="marketBtn" onclick="window.location.href = '/market/board';">벼룩시장</span>
                </div>
                <div class="bannerright">
                    <span onclick="window.location.href = '/community/board';">커뮤니티</span>
                    <span onclick="window.location.href = '/resume/mypage';">My 구인구직</span>
                </div>
            </div>
        </header>
        <form>
            <div class="selectarea">
                <div class="selectbox">
                    <div class="workarea">
                        <div class="wafont">근무지역</div>
                        <div>
                            <select class="waselect1">
                                <option disabled selected>지역 선택</option>
                                <option>서울</option>
                                <option>경기</option>
                                <option>인천</option>
                                <option>부산</option>
                                <option>대전</option>
                                <option>대구</option>
                                <option>광주</option>
                                <option>울산</option>
                                <option>세종시</option>
                                <option>강원</option>
                                <option>경남</option>
                                <option>경북</option>
                                <option>전남</option>
                                <option>전북</option>
                                <option>충남</option>
                                <option>충북</option>
                                <option>제주</option>
                            </select>
                        </div>
                        <div>
                            <select class="waselect2" style="display: none"></select>
                        </div>
                    </div>
                    <div class="careerselect">
                        <div class="cafont">경력</div>
                        <label class="checkbox-label">
                            <input type="radio" class="notcar" name="radiocareer" value="신입" />
                            신입
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        <label class="checkbox-label">
                            <input type="radio" class="okcar" name="radiocareer" value="경력" />
                            경력
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        <label class="checkbox-label">
                            <input type="radio" class="bothcar" name="radiocareer" value="무관" />
                            경력무관
                        </label>
                    </div>
                    <div class="recfield">
                        <div class="recfont">모집분야</div>
                        <select class="recselect">
                            <option disabled selected>직종분류</option>
                            <option>원장</option>
                            <option>시설장</option>
                            <option>부원장</option>
                            <option>원감</option>
                            <option>부장교사</option>
                            <option>주임교사</option>
                            <option>정교사</option>
                            <option>보육교사</option>
                            <option>보조교사</option>
                            <option>종일반교사</option>
                            <option>반일반교사</option>
                            <option>에듀케어</option>
                            <option>실습교사</option>
                            <option>야간교사</option>
                            <option>미술교사</option>
                            <option>영어교사</option>
                            <option>영양·조리사</option>
                            <option>피아노교사</option>
                            <option>방과후교사</option>
                            <option>한글교사</option>
                            <option>수학교사</option>
                            <option>체육교사</option>
                            <option>특수교사</option>
                            <option>특기교사</option>
                            <option>보습교사</option>
                            <option>학습지교사</option>
                            <option>보육도우미</option>
                            <option>하모니</option>
                            <option>베이비시터</option>
                            <option>조리사</option>
                            <option>차량안전원</option>
                            <option>간호사</option>
                            <option>운전기사</option>
                            <option>사무직원</option>
                            <option>기타</option>
                            <option>중국어교사</option>
                        </select>
                    </div>
                </div>
                <div class="selectedbox">
                    <div class="sbfont">선택 항목 :</div>
                    <div class="selectedresult"></div>
                </div>
                <div class="selectbtn">
                    <button type="button" class="searchbtn" onclick="searchEmploy()">검색하기</button>
                    <button type="button" class="resetbtn">초기화</button>
                </div>
            </div>
            <div class="writing">
                <div class="wrtop">
                    <div>채용 정보</div>
                    <div class="wrtype">
                        <button class="recentmod">최근 수정일순</button>
                        |
                        <button class="finalreg">최종 등록일순</button>
                        |
                        <button class="lastday">마감일순</button>
                    </div>
                </div>
                <table class="wrtable">
                    <thead>
                        <th>구인지역</th>
                        <th>구인직종</th>
                        <th>제목</th>
                        <th>시설명</th>
                        <th>경력</th>
                        <th>작성일</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
        <div class="wrbtn">
            <button type="button" class="writebtn" onclick="window.location.href = '/employ/write';">글쓰기</button>
        </div>
        <!-- <div class="pagenation">페이지네이션</div> -->

        <%- include('../footer.ejs') %> <%- include('../sidebar.ejs') %>
        <script src="/public/js/employ_main.js"></script>
    </body>
</html>
