<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/public/css/employ-detail.css" />
        <link rel="stylesheet" href="/public/css/font.css" />
    </head>
    <body>
        <header>
            <div class="headbtn">
                <div class="login" onclick="window.location.href = '/user/login';">로그인</div>
                <div class="sign" onclick="window.location.href = '/user/signup';">회원가입</div>
                <div class="mypage">마이페이지</div>
            </div>
            <div class="employtitle">
                <img src="/public/img/꽃.png" alt="꽃" />
                교사 구인
            </div>
        </header>
        <table class="emtable">
            <tr>
                <th></th>
                <th>내용</th>
            </tr>
            <tr>
                <td>시설명</td>
                <td>ABC 요양원</td>
            </tr>
            <tr>
                <td>주소</td>
                <td>서울시 강남구</td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td>02-1234-5678</td>
            </tr>
            <tr>
                <td>구인직종</td>
                <td>간호사</td>
            </tr>
            <tr>
                <td>경력</td>
                <td>경력무관</td>
            </tr>
            <tr>
                <td>급여정도</td>
                <td>300만원 이상</td>
            </tr>
            <tr>
                <td>학력정도</td>
                <td>대졸이상</td>
            </tr>
            <tr>
                <td>마감일</td>
                <td>2024-03-15</td>
            </tr>
            <tr>
                <td>첨부파일</td>
                <td>이력서.pdf</td>
            </tr>
        </table>
        <textarea rows="30" cols="123" placeholder="내용을 입력하세요"></textarea>
        <div class="fivebtn">
            <div class="leftbtn">
                <button type="button" class="prebtn">이전글</button>
                <button type="button" class="nextbtn">다음글</button>
            </div>
            <div class="centerbtn">
                <button type="button" class="revicebtn">수정</button>
                <button type="button" class="delbtn">삭제</button>
            </div>
            <div><button type="button" class="listbtn">목록</button></div>
        </div>
        <%- include('../footer.ejs') %>
    </body>
</html>
